# The URL the frontend uses to fetch data
VITE_API_URL=http://10.0.0.18:3001/api

# The Port the server runs on
PORT=3001

# The URL the server expects requests from (CORS)
FRONTEND_ORIGIN=http://10.0.0.18:5173